doctype html
html
  include head.pug
    div(class="container", id="login-container")
      div(class="row")
        div(class="col")
        div(class="col")
            br
            h1(id="login-header") Crypto Bank Login
            br
            div
              form(action="login" method="POST")
                div(class="form-group")
                  label(for="userEmail" id="email-label") Email address
                  input(type="email" name = "userEmail" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter email")
                  - var emailMessage = "We'll never share your email with anyone else."
                  small(id="emailHelp" class="form-text text-muted") #{emailMessage}

                div(class="form-group")
                  label(for="userPassword") Password
                  input(type="password" name="userPassword" class="form-control" id="passwordId" placeholder="Password")

                button(type="submit" class="btn btn-primary" id="signInButtonId") Submit

                include foot.pug

        div(class="col")
